<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <ros2_control name="isaac_arm_interface" type="system">
    <hardware>
      <plugin>topic_based_ros2_control/TopicBasedSystem</plugin>
      <param name="joint_commands_topic">/isaac_joint_commands</param>
      <param name="joint_states_topic">/isaac_joint_states</param>
    </hardware>
    <joint name="right_A1">
      <param name="max_velocity">1.710422666954443</param> 
      <command_interface name="position">
        <param name="min">-2.9670597283903604</param>
        <param name="max">2.9670597283903604</param>
      </command_interface>
      <state_interface name="position">
        <param name="initial_value">0</param>
      </state_interface>
      <state_interface name="velocity">
        <param name="initial_value">0.0</param>
      </state_interface>
    </joint>
    
    <joint name="right_A2">
      <param name="max_velocity">1.710422666954443</param>
      <command_interface name="position">
        <param name="min">-2.0943951023931953</param>
        <param name="max">2.0943951023931953</param>
      </command_interface>
      <state_interface name="position">
        <param name="initial_value">0</param>
      </state_interface>
      <state_interface name="velocity">
        <param name="initial_value">0.0</param>
      </state_interface>
    </joint>
    
    <joint name="right_A3">
      <param name="max_velocity">1.7453292519943295</param>
      <command_interface name="position">
        <param name="min">-2.9670597283903604</param>
        <param name="max">2.9670597283903604</param>
      </command_interface>
      <state_interface name="position">
        <param name="initial_value">0</param>
      </state_interface>
      <state_interface name="velocity">
        <param name="initial_value">0.0</param>
      </state_interface>
    </joint>
    
    <joint name="right_A4">
      <param name="max_velocity">2.2689280275926285</param>
      <command_interface name="position">
        <param name="min">-2.0943951023931953</param>
        <param name="max">2.0943951023931953</param>
      </command_interface>
      <state_interface name="position">
        <param name="initial_value">0</param>
      </state_interface>
      <state_interface name="velocity">
        <param name="initial_value">0.0</param>
      </state_interface>
    </joint>
    
    <joint name="right_A5">
      <param name="max_velocity">2.443460952792061</param>
      <command_interface name="position">
        <param name="min">-2.9670597283903604</param>
        <param name="max">2.9670597283903604</param>
      </command_interface>
      <state_interface name="position">
        <param name="initial_value">0</param>
      </state_interface>
      <state_interface name="velocity">
        <param name="initial_value">0.0</param>
      </state_interface>
    </joint>
    
    <joint name="right_A6">
      <param name="max_velocity">3.141592653589793</param>
      <command_interface name="position">
        <param name="min">-2.0943951023931953</param>
        <param name="max">2.0943951023931953</param>
      </command_interface>
      <state_interface name="position">
        <param name="initial_value">0</param>
      </state_interface>
      <state_interface name="velocity">
        <param name="initial_value">0.0</param>
      </state_interface>
    </joint>
    
    <joint name="right_A7">
      <param name="max_velocity">3.141592653589793</param>
      <command_interface name="position">
        <param name="min">-3.0543261909900763</param>
        <param name="max">3.0543261909900763</param>
      </command_interface>
      <state_interface name="position">
        <param name="initial_value">0</param>
      </state_interface>
      <state_interface name="velocity">
        <param name="initial_value">0.0</param>
      </state_interface>
    </joint>
  
    <!-- Setup of Hardware for left arm -->
    <joint name="left_A1">
      <param name="max_velocity">1.710422666954443</param>
      <command_interface name="position">
        <param name="min">-2.9670597283903604</param>
        <param name="max">2.9670597283903604</param>
      </command_interface>
      <state_interface name="position">
        <param name="initial_value">0</param>
      </state_interface>
      <state_interface name="velocity">
        <param name="initial_value">0.0</param>
      </state_interface>
    </joint>
    
    <joint name="left_A2">
      <param name="max_velocity">1.710422666954443</param>
      <command_interface name="position">
        <param name="min">-2.0943951023931953</param>
        <param name="max">2.0943951023931953</param>
      </command_interface>
      <state_interface name="position">
        <param name="initial_value">0</param>
      </state_interface>
      <state_interface name="velocity">
        <param name="initial_value">0.0</param>
      </state_interface>
    </joint>
    
    <joint name="left_A3">
      <param name="max_velocity">1.7453292519943295</param>
      <command_interface name="position">
        <param name="min">-2.9670597283903604</param>
        <param name="max">2.9670597283903604</param>
      </command_interface>
      <state_interface name="position">
        <param name="initial_value">0</param>
      </state_interface>
      <state_interface name="velocity">
        <param name="initial_value">0.0</param>
      </state_interface>
    </joint>
    
    <joint name="left_A4">
      <param name="max_velocity">2.2689280275926285</param>
      <command_interface name="position">
        <param name="min">-2.0943951023931953</param>
        <param name="max">2.0943951023931953</param>
      </command_interface>
      <state_interface name="position">
        <param name="initial_value">0</param>
      </state_interface>
      <state_interface name="velocity">
        <param name="initial_value">0.0</param>
      </state_interface>
    </joint>right_arm
    
    <joint name="left_A5">
      <param name="max_velocity">2.443460952792061</param>
      <command_interface name="position">
        <param name="min">-2.9670597283903604</param>
        <param name="max">2.9670597283903604</param>
      </command_interface>
      <state_interface name="position">
        <param name="initial_value">0</param>
      </state_interface>
      <state_interface name="velocity">
        <param name="initial_value">0.0</param>
      </state_interface>
    </joint>
    
    <joint name="left_A6">
      <param name="max_velocity">3.141592653589793</param>
      <command_interface name="position">
        <param name="min">-2.0943951023931953</param>
        <param name="max">2.0943951023931953</param>
      </command_interface>
      <state_interface name="position">
        <param name="initial_value">0</param>
      </state_interface>
      <state_interface name="velocity">
        <param name="initial_value">0.0</param>
      </state_interface>
    </joint>
    
    <joint name="left_A7">
      <param name="max_velocity">3.141592653589793</param>
      <command_interface name="position">
        <param name="min">-3.0543261909900763</param>
        <param name="max">3.0543261909900763</param>
      </command_interface>
      <state_interface name="position">
        <param name="initial_value">0</param>
      </state_interface>
      <state_interface name="velocity">
        <param name="initial_value">0.0</param>
      </state_interface>
    </joint>

    <!-- Setup of Hardware for 2F Gripper -->
    <joint name="2f_robotiq_85_left_knuckle_joint">
      <param name="max_velocity">2</param>
      <command_interface name="position">
        <param name="min">0.0</param>
        <param name="max">0.8</param>
      </command_interface>
      <state_interface name="position">
        <param name="initial_value">0.0</param>
      </state_interface>
      <state_interface name="velocity">
        <param name="initial_value">0.0</param>
      </state_interface>
    </joint>

    </ros2_control>

   <!--Setup of Hardware for 3F Gripper -->
  <ros2_control name="3FGripper" type="system">
    <hardware>
      <plugin>mock_components/GenericSystem</plugin>
    </hardware>
    <joint name="3f_finger_1_joint_1">
      <param name="max_velocity">1.23</param>
      <command_interface name="position">
        <param name="min">0.3758</param>
        <param name="max">1.1276</param>
      </command_interface>
      <state_interface name="position">
        <param name="initial_value">0.3758</param>
      </state_interface>
      <state_interface name="velocity">
        <param name="initial_value">0.0</param>
      </state_interface>
    </joint>
    
    <joint name="3f_finger_1_joint_2">
      <param name="max_velocity">1.24</param>
      <command_interface name="position">
        <param name="min">0.0</param>
        <param name="max">1.5708</param>
      </command_interface>
      <state_interface name="position">
        <param name="initial_value">0</param>
      </state_interface>
      <state_interface name="velocity">
        <param name="initial_value">0.0</param>
      </state_interface>
    </joint>
    
    <joint name="3f_finger_1_joint_3">
      <param name="max_velocity">1.25</param>
      <command_interface name="position">
        <param name="min">-0.9531</param>
        <param name="max">0.7572</param>
      </command_interface>
      <state_interface name="position">
        <param name="initial_value">0.0</param>
      </state_interface>
      <state_interface name="velocity">
        <param name="initial_value">0.0</param>
      </state_interface>
    </joint>
    
    <joint name="3f_finger_2_joint_1">
      <param name="max_velocity">1.23</param>
      <command_interface name="position">
        <param name="min">0.3758</param>
        <param name="max">1.1276</param>
      </command_interface>
      <state_interface name="position">
        <param name="initial_value">0.3758</param>
      </state_interface>
      <state_interface name="velocity">
        <param name="initial_value">0.0</param>
      </state_interface>
    </joint>
    
    <joint name="3f_finger_2_joint_2">
      <param name="max_velocity">1.24</param>
      <command_interface name="position">
        <param name="min">0.0</param>
        <param name="max">1.5708</param>
      </command_interface>
      <state_interface name="position">
        <param name="initial_value">0</param>
      </state_interface>
      <state_interface name="velocity">
        <param name="initial_value">0.0</param>
      </state_interface>
    </joint>
    
    <joint name="3f_finger_2_joint_3">
      <param name="max_velocity">1.25</param>
      <command_interface name="position">
        <param name="min">-0.9531</param>
        <param name="max">0.7572</param>
      </command_interface>
      <state_interface name="position">
        <param name="initial_value">0.0</param>
      </state_interface>
      <state_interface name="velocity">
        <param name="initial_value">0.0</param>
      </state_interface>
    </joint>
    
    <joint name="3f_finger_middle_joint_1">
      <param name="max_velocity">1.23</param>
      <command_interface name="position">
        <param name="min">0.3758</param>
        <param name="max">1.1276</param>
      </command_interface>
      <state_interface name="position">
        <param name="initial_value">0.3758</param>
      </state_interface>
      <state_interface name="velocity">
        <param name="initial_value">0.0</param>
      </state_interface>
    </joint>
    
    <joint name="3f_finger_middle_joint_2">
      <param name="max_velocity">1.24</param>
      <command_interface name="position">
        <param name="min">0.0</param>
        <param name="max">1.5708</param>
      </command_interface>
      <state_interface name="position">
        <param name="initial_value">0.0</param>
      </state_interface>
      <state_interface name="velocity">
        <param name="initial_value">0.0</param>
      </state_interface>
    </joint>
    
    <joint name="3f_finger_middle_joint_3">
      <param name="max_velocity">1.25</param>
      <command_interface name="position">
        <param name="min">-0.9531</param>
        <param name="max">0.7572</param>
      </command_interface>
      <state_interface name="position">
        <param name="initial_value">0</param>
      </state_interface>
      <state_interface name="velocity">
        <param name="initial_value">0.0</param>
      </state_interface>
    </joint>
    
    <joint name="3f_palm_finger_1_joint">
      <param name="max_velocity">1.23</param>
      <command_interface name="position">
        <param name="min">-0.1784</param>
        <param name="max">0.192</param>
      </command_interface>
      <state_interface name="position">
        <param name="initial_value">-0.1784</param>
      </state_interface>
      <state_interface name="velocity">
        <param name="initial_value">0.0</param>
      </state_interface>
    </joint>
    
    <joint name="3f_palm_finger_2_joint">
      <param name="max_velocity">1.23</param>
      <command_interface name="position">
        <param name="min">-0.192</param>
        <param name="max">0.1784</param>
      </command_interface>
      <state_interface name="position">
        <param name="initial_value">-0.192</param>
      </state_interface>
      <state_interface name="velocity">
        <param name="initial_value">0.0</param>
      </state_interface>
    </joint>
  </ros2_control>
  
  
</robot>
