<?xml version="1.0"?>

<!-- top level -->
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="isaac_dual_arm">
  <!-- Setup of Hardware & Joints for kuka interface -->
  <xacro:include filename="$(find dual_arm_moveit_config)/config/dual_arm.ros2_control.xacro"/>

  <!-- Intel realsense -->
  <xacro:include filename="$(find realsense2_description)/urdf/_d435i.urdf.xacro"/>

  <!-- MATERIAL LIST -->
  <material name="aluminum">
    <color rgba="0.5 0.5 0.5 1"/>
  </material>
  <material name="plastic">
    <color rgba="0.1 0.1 0.1 1"/>
  </material>
  <material name="steel_satin">
    <color rgba="0.6274509803921569 0.6274509803921569 0.6274509803921569 1"/>
  </material>
  <material name="wood">
    <color rgba="0.588235294 0.375 0.1 1"/>
  </material>
  <material name="white">
    <color rgba="0.8 0.8 0.8 1"/>
  </material>
  <material name="gray">
	<color rgba="1 0 0 1"/>
  </material>

  <!-- CAMERA MOUNT-->
  <xacro:sensor_d435i parent="base_link" use_nominal_extrinsics="$(arg use_nominal_extrinsics)">
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </xacro:sensor_d435i>


  <!-- Links & Joints for the Right Arm -->
  <link name="right_link_0">
    <inertial>
      <origin rpy="0 0 0" xyz="-0.012857 0.0 0.069964"/>
      <mass value="4.855658"/>
      <inertia ixx="0.017839" ixy="0.0" ixz="0.000781" iyy="0.022294" iyz="0.0" izz="0.021334"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
	<mesh filename="package://lbr_description/meshes/iiwa7/visual/link_0.dae"/>
      </geometry>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
	<mesh filename="package://lbr_description/meshes/iiwa7/collision/link_0.stl"/>
      </geometry>
    </collision>
  </link>
  <joint name="right_A1" type="revolute">
    <origin rpy="0 0 0" xyz="0.0 0.0 0.1475"/>
    <parent link="right_link_0"/>
    <child link="right_link_1"/>
    <axis xyz="0.0 0.0 1.0"/>
    <limit effort="200" lower="-2.9" upper="2.9" velocity="1.710422666954443"/>
    <dynamics damping="10.0" friction="0.1"/>
  </joint>
  <link name="right_link_1">
    <inertial>
      <origin rpy="0 0 0" xyz="0.0 -0.034819 0.123299"/>
      <mass value="3.394011"/>
      <inertia ixx="0.021383" ixy="0.0" ixz="0.0" iyy="0.020403" iyz="0.003797" izz="0.007563"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0.0 0.0 -0.1475"/>
      <geometry>
	<mesh filename="package://lbr_description/meshes/iiwa7/visual/link_1.dae"/>
      </geometry>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0.0 0.0 -0.1475"/>
      <geometry>
	<mesh filename="package://lbr_description/meshes/iiwa7/collision/link_1.stl"/>
      </geometry>
    </collision>
  </link>
  <joint name="right_A2" type="revolute">
    <origin rpy="0 0 0" xyz="0.0 -0.0105 0.1925"/>
    <parent link="right_link_1"/>
    <child link="right_link_2"/>
    <axis xyz="0.0 1.0 0.0"/>
    <limit effort="200" lower="-2" upper="2" velocity="1.710422666954443"/>
    <dynamics damping="10.0" friction="0.1"/>
  </joint>
  <link name="right_link_2">
    <inertial>
      <origin rpy="0 0 0" xyz="0.0 0.039793 0.086944"/>
      <mass value="4.031991"/>
      <inertia ixx="0.031697" ixy="0.0" ixz="0.0" iyy="0.03008" iyz="0.005889" izz="0.009666"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0.0 0.0105 -0.34"/>
      <geometry>
	<mesh filename="package://lbr_description/meshes/iiwa7/visual/link_2.dae"/>
      </geometry>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0.0 0.0105 -0.34"/>
      <geometry>
	<mesh filename="package://lbr_description/meshes/iiwa7/collision/link_2.stl"/>
      </geometry>
    </collision>
  </link>
  <joint name="right_A3" type="revolute">
    <origin rpy="0 0 0" xyz="0.0 0.0105 0.2075"/>
    <parent link="right_link_2"/>
    <child link="right_link_3"/>
    <axis xyz="0.0 0.0 1.0"/>
    <limit effort="200" lower="-2.9" upper="2.9" velocity="1.7453292519943295"/>
    <dynamics damping="10.0" friction="0.1"/>
  </joint>
  <link name="right_link_3">
    <inertial>
      <origin rpy="0 0 0" xyz="0.0 0.034819 0.123299"/>
      <mass value="3.394011"/>
      <inertia ixx="0.021383" ixy="0.0" ixz="0.0" iyy="0.020403" iyz="-0.003797" izz="0.007563"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0.0 0.0 -0.5475"/>
      <geometry>
	<mesh filename="package://lbr_description/meshes/iiwa7/visual/link_3.dae"/>
      </geometry>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0.0 0.0 -0.5475"/>
      <geometry>
	<mesh filename="package://lbr_description/meshes/iiwa7/collision/link_3.stl"/>
      </geometry>
    </collision>
  </link>
  <joint name="right_A4" type="revolute">
    <origin rpy="0 0 0" xyz="0.0 0.0105 0.1925"/>
    <parent link="right_link_3"/>
    <child link="right_link_4"/>
    <axis xyz="0.0 -1.0 0.0"/>
    <limit effort="200" lower="-2" upper="2" velocity="2.2689280275926285"/>
    <dynamics damping="10.0" friction="0.1"/>
  </joint>
  <link name="right_link_4">
    <inertial>
      <origin rpy="0 0 0" xyz="0.0 -0.039793 0.086944"/>
      <mass value="4.031989"/>
      <inertia ixx="0.031695" ixy="0.0" ixz="0.0" iyy="0.030079" iyz="-0.005889" izz="0.009665"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0.0 -0.0105 -0.74"/>
      <geometry>
	<mesh filename="package://lbr_description/meshes/iiwa7/visual/link_4.dae"/>
      </geometry>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0.0 -0.0105 -0.74"/>
      <geometry>
	<mesh filename="package://lbr_description/meshes/iiwa7/collision/link_4.stl"/>
      </geometry>
    </collision>
  </link>
  <joint name="right_A5" type="revolute">
    <origin rpy="0 0 0" xyz="0.0 -0.0105 0.2075"/>
    <parent link="right_link_4"/>
    <child link="right_link_5"/>
    <axis xyz="0.0 0.0 1.0"/>
    <limit effort="200" lower="-2.9" upper="2.9" velocity="2.443460952792061"/>
    <dynamics damping="10.0" friction="0.1"/>
  </joint>
  <link name="right_link_5">
    <inertial>
      <origin rpy="0 0 0" xyz="0.0 -0.029824 0.076267"/>
      <mass value="1.529239"/>
      <inertia ixx="0.008485" ixy="0.0" ixz="0.0" iyy="0.007136" iyz="0.002806" izz="0.003848"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0.0 0.0 -0.9475"/>
      <geometry>
	<mesh filename="package://lbr_description/meshes/iiwa7/visual/link_5.dae"/>
      </geometry>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0.0 0.0 -0.9475"/>
      <geometry>
	<mesh filename="package://lbr_description/meshes/iiwa7/collision/link_5.stl"/>
      </geometry>
    </collision>
  </link>
  <joint name="right_A6" type="revolute">
    <origin rpy="0 0 0" xyz="0.0 -0.0707 0.1925"/>
    <parent link="right_link_5"/>
    <child link="right_link_6"/>
    <axis xyz="0.0 1.0 0.0"/>
    <limit effort="200" lower="-2" upper="2" velocity="3.141592653589793"/>
    <dynamics damping="10.0" friction="0.1"/>
  </joint>
  <link name="right_link_6">
    <inertial>
      <origin rpy="0 0 0" xyz="0.0 0.07102 0.00495"/>
      <mass value="2.403626"/>
      <inertia ixx="0.007067" ixy="0.0" ixz="0.0" iyy="0.006804" iyz="0.000311" izz="0.004629"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0.0 0.0707 -1.14"/>
      <geometry>
	<mesh filename="package://lbr_description/meshes/iiwa7/visual/link_6.dae"/>
      </geometry>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0.0 0.0707 -1.14"/>
      <geometry>
	<mesh filename="package://lbr_description/meshes/iiwa7/collision/link_6.stl"/>
      </geometry>
    </collision>
  </link>
  <joint name="right_A7" type="revolute">
    <origin rpy="0 0 0" xyz="0.0 0.0707 0.091"/>
    <parent link="right_link_6"/>
    <child link="right_link_7"/>
    <axis xyz="0.0 0.0 1.0"/>
    <limit effort="200" lower="-3" upper="3" velocity="3.141592653589793"/>
    <dynamics damping="10.0" friction="0.1"/>
  </joint>
  <link name="right_link_7">
    <inertial>
      <origin rpy="0 0 0" xyz="3.0000e-06 -2.0000e-06 1.3782e-02"/>
      <mass value="0.259474"/>
      <inertia ixx="0.000171" ixy="0.0" ixz="0.0" iyy="0.000171" iyz="0.0" izz="0.000299"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0.0 0.0 -1.231"/>
      <geometry>
	<mesh filename="package://lbr_description/meshes/iiwa7/visual/link_7.dae"/>
      </geometry>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0.0 0.0 -1.231"/>
      <geometry>
	<mesh filename="package://lbr_description/meshes/iiwa7/collision/link_7.stl"/>
      </geometry>
    </collision>
  </link>
  <joint name="right_joint_ee" type="fixed">
    <parent link="right_link_7"/>
    <child link="right_link_ee"/>
    <origin rpy="0 0 0" xyz="0 0 0.035"/>
  </joint>
  <link name="right_link_ee">
	</link>

<!-- Links & Joints for the Left Arm --> 
  <link name="left_link_0">
    <inertial>
      <origin rpy="0 0 0" xyz="-0.012857 0.0 0.069964"/>
      <mass value="4.855658"/>
      <inertia ixx="0.017839" ixy="0.0" ixz="0.000781" iyy="0.022294" iyz="0.0" izz="0.021334"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
	<mesh filename="package://lbr_description/meshes/iiwa7/visual/link_0.dae"/>
      </geometry>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
	<mesh filename="package://lbr_description/meshes/iiwa7/collision/link_0.stl"/>
      </geometry>
    </collision>
  </link>
  <joint name="left_A1" type="revolute">
    <origin rpy="0 0 0" xyz="0.0 0.0 0.1475"/>
    <parent link="left_link_0"/>
    <child link="left_link_1"/>
    <axis xyz="0.0 0.0 1.0"/>
    <limit effort="200" lower="-2.9" upper="2.9" velocity="1.710422666954443"/>
    <dynamics damping="10.0" friction="0.1"/>
  </joint>
  <link name="left_link_1">
    <inertial>
      <origin rpy="0 0 0" xyz="0.0 -0.034819 0.123299"/>
      <mass value="3.394011"/>
      <inertia ixx="0.021383" ixy="0.0" ixz="0.0" iyy="0.020403" iyz="0.003797" izz="0.007563"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0.0 0.0 -0.1475"/>
      <geometry>
	<mesh filename="package://lbr_description/meshes/iiwa7/visual/link_1.dae"/>
      </geometry>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0.0 0.0 -0.1475"/>
      <geometry>
	<mesh filename="package://lbr_description/meshes/iiwa7/collision/link_1.stl"/>
      </geometry>
    </collision>
  </link>
  <joint name="left_A2" type="revolute">
    <origin rpy="0 0 0" xyz="0.0 -0.0105 0.1925"/>
    <parent link="left_link_1"/>
    <child link="left_link_2"/>
    <axis xyz="0.0 1.0 0.0"/>
    <limit effort="200" lower="-2" upper="2" velocity="1.710422666954443"/>
    <dynamics damping="10.0" friction="0.1"/>
  </joint>
  <link name="left_link_2">
    <inertial>
      <origin rpy="0 0 0" xyz="0.0 0.039793 0.086944"/>
      <mass value="4.031991"/>
      <inertia ixx="0.031697" ixy="0.0" ixz="0.0" iyy="0.03008" iyz="0.005889" izz="0.009666"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0.0 0.0105 -0.34"/>
      <geometry>
	<mesh filename="package://lbr_description/meshes/iiwa7/visual/link_2.dae"/>
      </geometry>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0.0 0.0105 -0.34"/>
      <geometry>
	<mesh filename="package://lbr_description/meshes/iiwa7/collision/link_2.stl"/>
      </geometry>
    </collision>
  </link>
  <joint name="left_A3" type="revolute">
    <origin rpy="0 0 0" xyz="0.0 0.0105 0.2075"/>
    <parent link="left_link_2"/>
    <child link="left_link_3"/>
    <axis xyz="0.0 0.0 1.0"/>
    <limit effort="200" lower="-2.9" upper="2.9" velocity="1.7453292519943295"/>
    <dynamics damping="10.0" friction="0.1"/>
  </joint>
  <link name="left_link_3">
    <inertial>
      <origin rpy="0 0 0" xyz="0.0 0.034819 0.123299"/>
      <mass value="3.394011"/>
      <inertia ixx="0.021383" ixy="0.0" ixz="0.0" iyy="0.020403" iyz="-0.003797" izz="0.007563"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0.0 0.0 -0.5475"/>
      <geometry>
	<mesh filename="package://lbr_description/meshes/iiwa7/visual/link_3.dae"/>
      </geometry>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0.0 0.0 -0.5475"/>
      <geometry>
	<mesh filename="package://lbr_description/meshes/iiwa7/collision/link_3.stl"/>
      </geometry>
    </collision>
  </link>
  <joint name="left_A4" type="revolute">
    <origin rpy="0 0 0" xyz="0.0 0.0105 0.1925"/>
    <parent link="left_link_3"/>
    <child link="left_link_4"/>
    <axis xyz="0.0 -1.0 0.0"/>
    <limit effort="200" lower="-2" upper="2" velocity="2.2689280275926285"/>
    <dynamics damping="10.0" friction="0.1"/>
  </joint>
  <link name="left_link_4">
    <inertial>
      <origin rpy="0 0 0" xyz="0.0 -0.039793 0.086944"/>
      <mass value="4.031989"/>
      <inertia ixx="0.031695" ixy="0.0" ixz="0.0" iyy="0.030079" iyz="-0.005889" izz="0.009665"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0.0 -0.0105 -0.74"/>
      <geometry>
	<mesh filename="package://lbr_description/meshes/iiwa7/visual/link_4.dae"/>
      </geometry>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0.0 -0.0105 -0.74"/>
      <geometry>
	<mesh filename="package://lbr_description/meshes/iiwa7/collision/link_4.stl"/>
      </geometry>
    </collision>
  </link>
  <joint name="left_A5" type="revolute">
    <origin rpy="0 0 0" xyz="0.0 -0.0105 0.2075"/>
    <parent link="left_link_4"/>
    <child link="left_link_5"/>
    <axis xyz="0.0 0.0 1.0"/>
    <limit effort="200" lower="-2.9" upper="2.9" velocity="2.443460952792061"/>
    <dynamics damping="10.0" friction="0.1"/>
  </joint>
  <link name="left_link_5">
    <inertial>
      <origin rpy="0 0 0" xyz="0.0 -0.029824 0.076267"/>
      <mass value="1.529239"/>
      <inertia ixx="0.008485" ixy="0.0" ixz="0.0" iyy="0.007136" iyz="0.002806" izz="0.003848"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0.0 0.0 -0.9475"/>
      <geometry>
	<mesh filename="package://lbr_description/meshes/iiwa7/visual/link_5.dae"/>
      </geometry>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0.0 0.0 -0.9475"/>
      <geometry>
	<mesh filename="package://lbr_description/meshes/iiwa7/collision/link_5.stl"/>
      </geometry>
    </collision>
  </link>
  <joint name="left_A6" type="revolute">
    <origin rpy="0 0 0" xyz="0.0 -0.0707 0.1925"/>
    <parent link="left_link_5"/>
    <child link="left_link_6"/>
    <axis xyz="0.0 1.0 0.0"/>
    <limit effort="200" lower="-2" upper="2" velocity="3.141592653589793"/>
    <dynamics damping="10.0" friction="0.1"/>
  </joint>
  <link name="left_link_6">
    <inertial>
      <origin rpy="0 0 0" xyz="0.0 0.07102 0.00495"/>
      <mass value="2.403626"/>
      <inertia ixx="0.007067" ixy="0.0" ixz="0.0" iyy="0.006804" iyz="0.000311" izz="0.004629"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0.0 0.0707 -1.14"/>
      <geometry>
	<mesh filename="package://lbr_description/meshes/iiwa7/visual/link_6.dae"/>
      </geometry>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0.0 0.0707 -1.14"/>
      <geometry>
	<mesh filename="package://lbr_description/meshes/iiwa7/collision/link_6.stl"/>
      </geometry>
    </collision>
  </link>
  <joint name="left_A7" type="revolute">
    <origin rpy="0 0 0" xyz="0.0 0.0707 0.091"/>
    <parent link="left_link_6"/>
    <child link="left_link_7"/>
    <axis xyz="0.0 0.0 1.0"/>
    <limit effort="200" lower="-3" upper="3" velocity="3.141592653589793"/>
    <dynamics damping="10.0" friction="0.1"/>
  </joint>
  <link name="left_link_7">
    <inertial>
      <origin rpy="0 0 0" xyz="3.0000e-06 -2.0000e-06 1.3782e-02"/>
      <mass value="0.259474"/>
      <inertia ixx="0.000171" ixy="0.0" ixz="0.0" iyy="0.000171" iyz="0.0" izz="0.000299"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0.0 0.0 -1.231"/>
      <geometry>
	<mesh filename="package://lbr_description/meshes/iiwa7/visual/link_7.dae"/>
      </geometry>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0.0 0.0 -1.231"/>
      <geometry>
	<mesh filename="package://lbr_description/meshes/iiwa7/collision/link_7.stl"/>
      </geometry>
    </collision>
  </link>
  <joint name="left_joint_ee" type="fixed">
    <parent link="left_link_7"/>
    <child link="left_link_ee"/>
    <origin rpy="0 0 0" xyz="0 0 0.035"/>
  </joint>
  <link name="left_link_ee">
	</link> 
	
  
  <!-- CUSTOM LINKS (NOT IIWA7 OR GRIPPERS) -->

  <link name="world"/>  <!-- Fixed to world, necessary for Rviz and Gazebo -->

  <!-- Table and wall links -->
  <link name="table_top">
    <inertial>
      <origin rpy="0 0 0" xyz="0.47511520643410643 0.9340356249199337 1.753635248949686"/>
      <mass value="1382.7919279449686"/>
      <inertia ixx="1994.27355" ixy="-0.365832" ixz="-0.552572" iyy="2787.103818" iyz="-145.275916" izz="966.579181"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
	<mesh filename="package://lbr_description/meshes/table/visual/base_link_low_polly.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="steel_satin"/>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
	<mesh filename="package://lbr_description/meshes/table/collision/Table_top.stl" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
  </link>
  <link name="left_side_wall">
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
	<mesh filename="package://lbr_description/meshes/table/collision/Side_wall.stl" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
  </link>
  <link name="right_side_wall">
    <collision>
      <origin rpy="0 0 0" xyz="-1.411 0 0"/>
      <geometry>
	<mesh filename="package://lbr_description/meshes/table/collision/Side_wall.stl" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
  </link>
  <link name="back_wall">
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
	<mesh filename="package://lbr_description/meshes/table/collision/Back_wall.stl" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
  </link>
  <link name="left_box">
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
	<mesh filename="package://lbr_description/meshes/table/collision/Side_box.stl" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
  </link>
  <link name="right_box">
    <collision>
      <origin rpy="0 0 0" xyz="-1.181 0 0"/>
      <geometry>
	<mesh filename="package://lbr_description/meshes/table/collision/Side_box.stl" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
  </link>

  <link name="2f_tool0"/>
  <link name="3f_tool0"/>
 
  <link name="left_calli_tip">
    <visual>
      <origin rpy="0 0 0" xyz="0.0 0.0 0"/>
      <geometry>
	<mesh filename="package://lbr_description/meshes/calibration_tip/calli_tip.stl" scale="0.001 0.001 0.001"/>
      </geometry>
    </visual>
  </link>

  <link name="right_calli_tip">
    <visual>
      <origin rpy="0 0 0" xyz="0.0 0.0 0"/>
      <geometry>
	<mesh filename="package://lbr_description/meshes/calibration_tip/calli_tip.stl" scale="0.001 0.001 0.001"/>
      </geometry>
    </visual>
  </link>
 
 
  <!-- TABLE AND SIDE WALL JOINTS TO TABLE-->
  <!--Joint between world and table-->
  <joint name="world_joint" type="fixed">
    <parent link="world"/>
    <child link="table_top"/>
  </joint>
  <joint name="left_side_wall_joint" type="fixed">
    <parent link="world"/>
    <child link="left_side_wall"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
  <joint name="right_side_wall_joint" type="fixed">
    <parent link="world"/>
    <child link="right_side_wall"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
  <joint name="back_wall_joint" type="fixed">
    <parent link="world"/>
    <child link="back_wall"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
  <joint name="left_box_joint" type="fixed">
    <parent link="world"/>
    <child link="left_box"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
  <joint name="right_box_joint" type="fixed">
    <parent link="world"/>
    <child link="right_box"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>


  <!-- JOINTS FOR RIGHT ARM AND 3F GRIPPER -->
  <!--Joint between table and right iiwa7 -->
  <joint name="mount_right" type="fixed">
    <parent link="table_top"/>
    <child link="right_link_0"/>
    <origin rpy="0 0 -0.785398163" xyz="0.145181 0.79431 0.815"/>
  </joint>
  <!-- joint between 3f gripper and 3f tool0-->
  <joint name="right_ee_tool0" type="fixed">
    <parent link="right_link_ee"/>
    <child link="3f_tool0"/>
    <origin rpy="0 -1.5707 1.5707" xyz="0.0 0 0.05"/>

  </joint>
  <joint name="right_ee_tip" type="fixed">
    <parent link="right_link_ee"/>
    <child link="right_calli_tip"/>
    <origin rpy="0 0 0" xyz="0.0 0 0"/>
  </joint>

  <!-- JOINTS FOR LEFT ARM AND 2F GRIPPER -->
  <!-- joint between left arm and table -->
  <joint name="mount_left" type="fixed">
    <parent link="table_top"/>
    <child link="left_link_0"/>
    <origin rpy="0 0 -2.35619449 " xyz="0.795181 0.79431 0.815"/>
  </joint>

  <!-- joint between camara arm mount and 2f_tool0-->
  <joint name="left_ee_tool0" type="fixed">
    <parent link="left_link_ee"/>
    <child link="2f_tool0"/>
    <origin rpy="0 3.14 0" xyz="0 0 0.05"/>
  </joint>

  <joint name="left_ee_tip" type="fixed">
    <parent link="left_link_ee"/>
    <child link="left_calli_tip"/>
    <origin rpy="0 0 0" xyz="0.0 0 0"/>
  </joint>
</robot>
